<div class="md:w-1/2 flex flex-col justify-center items-start m-10">
  <h1 class="text-3xl font-bold text-gray-900 mb-6">Nueva detección</h1>
  <%= render "form", detection: @detection %>
  <br>
  <div class="mt-4">
    <%= link_to "Regresar", detections_path, class: "text-indigo-600 hover:text-indigo-800 font-medium" %>
  </div>
</div>
